---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Variables
$base-font-family:        "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-size:          17px;
$small-font-size:         $base-font-size * 0.875;
$base-line-height:        1.5;

$spacing-unit:            30px;

$header-color:            #454545;
$text-color:              #999;
$background-color:        #e1e1e1;

$white-color:             #fff;
$grey-color:              #999;
$grey-color-light:        #ddd;
$grey-color-lighter:      #eee;
$grey-color-lightest:     #f5f5f5;
$grey-color-dark:         darken($grey-color, 25%);

// Brand colors
$brand-color:             #e54c40;

$twitter-brand-color:     #55acee;
$dribbble-brand-color:    #ea4c89;
$instagram-brand-color:   #3f729b;
$github-brand-color:      #333;



// Width of the content area
$content-width:     800px;
$on-mobile:         640px;
$on-tablet:         768px;
$on-desktop:        1024px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $on-tablet - 1px) {
        @content;
    }
}

@mixin tablet {
  @media (min-width: #{$on-tablet}) and (max-width: #{$on-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$on-desktop}) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "animations",
        "base",
        "layout",
        "syntax-highlighting"
;
