/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes portfoliofadeInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    border-top-width: 0px;
    border-top-left: 0px;
    // border-top: 0px solid #EFEFE9;
    // border-left: 0px solid transparent;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    border-top-width: 1000px;
    border-top-left: 1000px;
    // border-top: 1000px solid #EFEFE9;
    // border-left: 1000px solid transparent;
  }
}

/*
 * CSS Page Transitions
 */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

  }

  .portfolio_element {
    -webkit-animation-duration: 2.0s;
    animation-duration: 2.0s;
    transition-timing-function: ease-ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  .portfolio_element--portfoliofadeinright {
    -webkit-animation-name: portfoliofadeInRight;
    animation-name: portfoliofadeInRight;
  }
}
