@import url('https://rsms.me/inter/inter.css');

html, body {
  background: #fff;
  color: #000;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.004em;
  scroll-behavior: smooth;
  font-kerning: normal;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.content-wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.header {
  margin: 50px 0 150px;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid #fff;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    background: #fff;
    border-bottom: 1px solid #000;

    .name {
      font-size: 1.125rem;
    }

    .title {
      display: none;
    }

    .navigation .right {
      align-items: center;
    }
  }

  &.sticky + .about-me {
    margin-top: 251px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  
    .right {
      display: flex;
      align-items: flex-end;
    }
  
    .nav-item {
      margin-right: 24px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }  

  .title {
    margin-top: 4px;
    color: #848484;
  }
}

.p-large {
  font-size: 1.125rem;
  line-height: 2.125rem;
}

.divider {
  margin: 150px 0;

  h4 {
    font-weight: 500;
  }
}


.process {
  height: 80px;
  width: 1000px;
  border-radius: 4px;
  background: linear-gradient(90deg, #D4D4D4 50%, transparent 50%), linear-gradient(90deg, #D4D4D4 50%, transparent 50%), linear-gradient(0deg, #D4D4D4 50%, transparent 50%), linear-gradient(0deg, #D4D4D4 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
  background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
  animation: border-dance 6s infinite linear;
  animation-direction: reverse;
  margin: 0 auto;

  .breakdown {
    display: flex;
    width: 94%;
    margin: 0 auto;

    .item {
      padding-top: 30px;
      width: 25%;

      .circle {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: gray;
        display: block;
        margin: 20px 0;
        border: 4px solid #fff;;
      }

      p {
        font-size: .875rem;
        color: #474747;
      }
    }
  }
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 79px, 0px 150px, 999px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 79px, 0px 0px, 999px 150px;
  }
}