.container {
  height: 100%;
  overflow: scroll;
}

.content {
  position: relative;
  width: 55%;
  margin: 0 auto;
  padding-top: 100px;
  padding-right: 200px;

  @include media-query($on-laptop) {
    width: 100%;
    padding: 100px 100px;
    margin: 0;
    box-sizing: border-box;
  }

  @include media-query($on-palm) {
    width: 100%;
    padding: 100px 40px;
    margin: 0;
    box-sizing: border-box;
  }
}

/**
 * Page content
 */

.portfolio-intro {
  font-family: "Space mono", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  color: $brand-color;

  @include media-query($on-palm) {
    font-size: 16px;
  }
}

.prose-lead {
    font-size: 32px;
    font-weight: 400;

    @include media-query($on-palm) {
      font-size: 24px;
    }
}

.hi {
  float: left;
  margin-left: -60px;
  font-size: 32px;
  margin-top: 4px;

  @include media-query($on-palm) {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 28px;
  }
}

.prose {
  font-size: 18px;
  color: #555;
  line-height: 30px;

  @include media-query($on-palm) {
    font-size: 16px;
  }
}

/**
 * Utility classes
 */

 .d-flex {
   display: flex;
 }


/**
 * Links
 */

 a {
  color: $brand-color;
  text-decoration: none;
  transition: all .1s ease-in-out;

  &:visited {
      color: $brand-color;
  }

  &:hover {
      color: $brand-color;
      text-decoration: underline;
  }
}