.container {
  height: 100%;
  overflow: scroll;
}

.content {
  position: relative;
  overflow: scroll;
  width: 55%;
  margin: 0 auto 100px;
  padding-top: 100px;
  padding-right: 200px;

  @include media-query($on-laptop) {
    width: 100%;
    padding: 100px 100px;
    margin: 0;
    box-sizing: border-box;
  }

  @include media-query($on-palm) {
    width: 100%;
    padding: 100px 40px;
    margin: 0;
    box-sizing: border-box;
  }
}

/**
 * Page content
 */

.portfolio-intro {
  font-family: "Scope One", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  color: #999;
}

.portfolio-lead {
    font-size: 28px;
    color: #444;

    @include media-query($on-palm) {
      font-size: 22px;
    }
}

.prose {
  font-size: 18px;
  color: #555;
  line-height: 30px;

  @include media-query($on-palm) {
    font-size: 16px;
  }
}

/**
 * Utility classes
 */

 .d-flex {
   display: flex;
 }
