/**
 * Sidebar
 */

.url_index {
  .sidebar {
    width: 100%;

    .sidebar-sticky {
      text-align: center;
      width: 40%;
      margin: 0 auto;
    }

    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: left;

      .sidebar-sticky {
        width: 80%;
        position: absolute;
        right: 2rem;
        bottom: 1rem;
        left: 2rem;
      }
    }
  }
}

.sidebar {
  a {
    color: #FFF;
  }
  .site-title {
      font-size: 36px;
      line-height: 56px;
      margin-bottom: 15px;
      display: block;
  }

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    text-align: left;
  }

  @include desktop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    text-align: left;
  }
}

.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        &:hover {
          border-bottom: 3px solid #DDD;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
// .page-content {
//     padding: $spacing-unit 0 0 35%;
// }

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;

        &:hover {
          background: $grey-color-light;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($grey-color, 20%);
    float: right;
}

.post-link {
    display: block;
    font-size: 18px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
