<html>
  <head>
    <meta charset="utf-8" />
    <title>Aaron Relph | Product Designer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <div class="header">
      <span>Aaron Relph</span>
    </div>
    <div class="container">
      <p class="about">
        I’m Aaron, a Product Designer based in San Francisco.
        Currently, I’m at <a href="https://github.com/">GitHub</a> building dev
        tools and leading design for our enterprise products. Before that I was
        designing at <a href="https://gumroad.com/">Gumroad</a> and before that
        other places.
      </p>
      <p class="contact">
        <a href="https://dribbble.com/aaronrelph" class="">Dribbble</a> /
        <a href="https://www.linkedin.com/in/aaronrelph/" class="">LinkedIn</a>
        / <a href="https://twitter.com/aaronrelph" class="">Twitter</a> /
        <a href="https://www.instagram.com/aaronrelph/" class="">Instagram</a> /
        <a href="mailto:hello@aaronrelph.com" class="">Email</a>
      </p>
      <!-- <a href="mailto:hello@aaronrelph.com">Say Hi</a> -->
    </div>

    <section class="content">
      {{ content }}
    </section>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-151879557-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-151879557-1");
    </script>
  </body>
</html>
