<html>
  <head>
    <meta charset="utf-8" />
    <title>Aaron Relph | Product Designer</title>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <div class="header">
      <span>Aaron Relph</span>
      <a href="mailto:hello@aaronrelph.com">Say Hi</a>
    </div>
    <div class="container">
      <p class="intro">
        I’m Aaron, a Product Designer based in San Francisco.
      </p>
      <p class="about">
        Currently, I’m at GitHub building dev tools and leading design for our
        enterprise products. Before that I was designing at Gumroad and before
        that other places.
      </p>
      <p class="contact">
        Dribble / LinkedIn / Twitter / Instagram / Email
      </p>
    </div>

    <section class="content">
      {{ content }}
    </section>
  </body>
</html>
